<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online.suiyu.springdemo.dao.UserDao">
    <select id="getAllUser"
            resultType="online.suiyu.springdemo.entity.User">
        SELECT * from user
    </select>

    <!--if-->

    <select id="selectUserOldman" resultType="online.suiyu.springdemo.entity.User">
        select * from user
        where 1=1
        <if test="">
          and sex='man'
        </if>
    </select>

</mapper>